@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  position: relative;

  h1 {
    position: absolute;
    color: rgba(255, 255, 255, 0.144);
    font-weight: 700;
    font-size: 5.5rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    line-height: 1.2em;
    top: 13%;
    left: 78%;
  }
  p {
    color: #02175c;
  }

  .Header__hero {
    width: 70%;
    padding: 4.5rem 2.5rem;
    flex: auto;

    .hero__text {
      font-family: "Poppins", sans-serif;
      font-size: 5rem;
      line-height: 1rem;
      font-weight: 800;
    }

    .hero__button {
      margin-top: -2rem;

      button {
        background-color: transparent;
        font-size: 1.5rem;
        color: white;
        padding: 1.1rem 1.5rem;
        border: 2px solid white;
        transition: ease-in-out 0.5s;
        margin: 0.5rem 0;
        &:hover {
          cursor: pointer;
          color: #02175c;
          background-color: white;
        }
      }
    }
  }
  .Header__info {
    width: 70%;
    display: flex;

    .info__location,
    .info__time,
    .info__countdown {
      width: 30%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .info__time,
    .info__location {
      p {
        span {
          padding-right: 0.5rem;
        }
      }
    }

    .info__countdown {
      flex: auto;

      .info__countdown--time {
        line-height: 0.5rem;
        padding: 0.5rem;
        .zeros {
          color: white;
          font-size: 4rem;
        }
      }
    }
    p {
      font-size: 1.5rem;
      color: white;
    }
  }
}
