@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap");

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  padding: 0.5rem;
  position: relative;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  h1 {
    position: absolute;
    color: rgba(255, 255, 255, 0.144);
    font-weight: 700;
    font-size: 9.7rem;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    line-height: 1.2em;
    top: 9%;
    left: 78%;
  }
  p {
    color: #02175c;
  }

  .Header__hero {
    width: 70%;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: auto;
    position: relative;

    .hero__frame {
      position: absolute;
      width: 40rem;
      height: 25rem;
      border-left: 1.5rem solid #ffcd701f;
      border-radius: 0.5rem;
      z-index: 1;
      left: -0.00001%;
    }

    .hero__text {
      font-family: "Poppins", sans-serif;
      font-size: 5rem;
      line-height: 1rem;
      font-weight: 800;
      z-index: 2;
    }

    .hero__button {
      margin-top: -2rem;
      z-index: 99;
      button {
        background-color: transparent;
        font-size: 1.5rem;
        color: white;
        padding: 1.1rem 1.5rem;
        border: 2px solid white;
        transition: ease-in-out 0.5s;
        margin: 0.5rem 0;

        &:hover {
          cursor: pointer;
          color: #02175c;
          background-color: white;
        }
      }
    }
  }

  .Header__info {
    width: 70%;
    display: flex;
    padding: 2.5rem 0.5rem;

    .info__location,
    .info__time,
    .info__countdown {
      width: 30%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .info__time,
    .info__location {
      p {
        span {
          padding-right: 0.5rem;
        }
      }
    }

    .info__countdown {
      flex: auto;

      .info__countdown--time {
        line-height: 0.5rem;
        padding: 0.5rem 1rem;
        .zeros {
          color: white;
          font-size: 4rem;
        }
      }
    }
    p {
      font-size: 1.5rem;
      color: white;
    }
  }
}
